{% extends "base.html" %}
{% block external %}     
        <script language='javascript' type='text/javascript' src='{{ STATIC_URL }}/js/jquery/jquery-1.7.1.min.js'></script>
        <script language='javascript' type='text/javascript' src='{{ STATIC_URL }}/js/flot-flot-1a99246/jquery.flot.js'></script>
        
        <script type="text/javascript">   
            $(function () {
                $.plot($("#placeholder"), [ {{results}} ], { xaxis: { mode: "time", tickSize : [2, "day"]  } });
            });
    
</script>
{% endblock %}   
{% block title %}{{ name }}{% endblock %} 
{% block content %}        
       
        <div class="span3 offset3">
          <h1>{{ name }}</h1>
          <p>Following: {{ result.1 }}</p>
          <p>Followers: {{ result.2 }}</p>
        </div>
              
        <div class="span1 offset1" id="placeholder" style="width:600px;height:300px;"></div>       
        
        <div class="span9">
           <table class="table table-striped table-bordered table-condensed">
             <thead>
               <tr>
                 <th>Date</th>
                 <th>Following</th>
                 <th>Followers</th>
                 <th>Growth</th>
               </tr>                 
             </thead>
             <tbody>
               {% for result in results2 %}
                 <tr>
                   <td>{{ result.0 }}</td>
                   <td>{{ result.1 }}</td>
                   <td>{{ result.2 }}</td>
                   <td></td>
                 </tr>
               {% endfor %}
             </tbody>
          </table>
        </div> <!--  /span9 table-->

 {% endblock %}
