<html>
    <head>
        <title>{{ head_title }}</title>
        <script language='javascript' type='text/javascript' src='{{ STATIC_URL }}/js/jquery/jquery-1.7.1.min.js'></script>
        <script language='javascript' type='text/javascript' src='{{ STATIC_URL }}/js/flot-flot-1a99246/jquery.flot.js'></script>
        
        <script type="text/javascript">
            function displayDate()
                {
                    document.getElementById("demo").innerHTML=Date();
                }
        </script>
        
        <script type="text/javascript">
    
    $(function () {
    var d1 = [];
    for (var i = 0; i < 14; i += 0.5)
        d1.push([i, Math.sin(i)]);

    var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];

    // a null signifies separate line segments
    var d3 = [[0, 12], [7, 12], null, [7, 2.5], [12, 2.5]];
    
    $.plot($("#placeholder"), [ d1, d2, d3 ], { xaxis: { mode: "time" } });
});
    
</script>
        
    </head>
    <body>
        <h1>{{ page_title }}</h1>
        <p>{{ page_body }}</p>


        <p id="demo">This is a paragraph.</p>
        <button type="button" onclick="displayDate()">Display Date</button>
        
        <br/> 
         <div id="placeholder" style="width:600px;height:300px;"></div>       
            
        </div>
        
    </body>
</html>

