<html>
    <head>
        <title>{{ head_title }}</title>
       
    </head>
    <body>
        <h1>{{ page_title }}</h1>
        <h2>{{ page_body }}</h2>

        Brand's Image | Brand's Name | Brand Following | Brand's Followers
            </br>
        {% for brand in brands %}
            <a href="/{{ brand.link }}"><img src="http://{{ brand.img}}" width="42" height="42" /></a> {{ brand.name }} | {{ brand.following }} 
| {{ brand.followers }}. 
           </br>
        {% endfor %}
        
    </body>
    
</html>

