{% extends "base.html" %}
  {% block title %}Top Pages{% endblock %}
    {% block content %}
      
      <div class="row">
      
        <div class="span9">
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th>Rank</t>
                <th>Image</ th>
                <th>Name</ th>
                <th>Followng</ th>
                <th>Followers</ th>
              </tr>
            </thead>
            <tbody>
            {% for brand in brands %}
              <tr>
                <td> {{ brand.rank }} </td>
                <td> <a href="/{{ brand.link }}"><img src="http://{{ brand.img}}" width="42" height="42" /></a> </td>
                <td> {{ brand.name }} </td>
                <td> {{ brand.following }} </td>
                <td> {{ brand.followers }} </td>
              </tr>             
            {% endfor %}
            {% if show_paginator %}
              <table class="table table-striped table-bordered table-condensed">
                <tbody>
                  <tr>
                    <td> 
                      {% if has_prev %}
                        <a href="?page={{ prev_page }}">&laquo; Previous</a>
                      {% endif %}
                      {% if has_next %}
                        <a href="?page={{ next_page }}">Next &raquo;</a>
                      {% endif %}
                      [Page {{ page }} of {{ pages }}]                                 
                    </td>
                  </tr>
                </tbody>                
              </table> 
            {% endif %}
            </tbody>
          </table>
        </div> <!-- /span12 --> 
        
      {% if errors %}
        <div class="span3">
        <ul> 
          {% for error in errors %}
          <li style="color: red;"> {{ error }}</li>
          {% endfor %}
        </ul>
        </div> 
      {% endif %}
        
        <div class="span3">
           <form class="well" action="." method="post">
        <!--   {{ form.as_table }} --> 
           <label>Track Your Page Statistics!</label>
           <input type="text" name="p" placeholder="G+ Profile ID"> 
           <input class="btn btn-primary" type="submit" value="Add Page">
           </form>
        </div> <!-- span4 -->
        
      </div> <!--  /row -->     
    
        <h2>Request details</h2>
        
        <p>
        Request method: {{ request.method }}
        <br />
        GET data: {{ request.GET|default:"No data" }} 
        <br />
        POST data: {{ request.POST|default:"No data" }}
        <br />
        FILES data: {{ request.FILES|default:"No data" }}
        </p>

        <h2>Form details</h2>

        <p>
        Cleaned data: {{ form.cleaned_data|default:"No data" }}
        </p>
    
 
    {% endblock %} 
